* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 8rem;
  max-width: 32.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  padding: 1.6rem;
  border-radius: 15px;
  box-shadow: 1rem 1rem 5rem hsla(219, 15%, 55%, 0.613);
}
.container div {
  width: 27.5rem;
  text-align: center;
  margin-bottom: 1.6rem;
}

.img {
  width: 100%;
  border-radius: 15px;
}

.text-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  color: hsl(218, 44%, 22%);
}

.text {
  font-size: 1.5rem;
  color: #aaa;
  font-weight: 400;
}

@media (max-width: 23.4em) {
  html {
    font-size: 50%;
  }
}

/*       FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      
       -SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      
      */
